<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listado de Personas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input [(ngModel)]="filtro" placeholder="Introduce los datos del filtro">

  </ion-input>
  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let persona of personas | async">
        <ion-col *ngIf="filtro=='' || filtro==persona.gender" size-xl="2" size-lg="2" size-md="4" size-sm="6" size-xs="12">
          <ion-card >
            <ion-card-content>
              <ion-avatar>
                <img [src]="persona.avatar">
              </ion-avatar>
              <h1>{{ persona.first_name }} {{ persona.last_name }}
                <ion-icon *ngIf="persona.gender=='Male'" name="male-outline"></ion-icon>
                <ion-icon *ngIf="persona.gender=='Female'" name="female-outline"></ion-icon>
                <ion-icon *ngIf="persona.gender=='Non-binary'" name="male-female-outline"></ion-icon>
              </h1>
              <h2> The genre of this person is {{ persona.gender }}. </h2>
              <h2> The date of born from this person is {{ persona.age }}. </h2>
              <h2> This person lives in {{ persona.city }}, {{ persona.state }} from {{ persona.country }}.</h2>
              <p class="horizontal">It is a long established fact that a reader will be distracted by the readable
                content
                of a page when
                looking at its layout.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>